.section-event {
    padding: 50px 20px 90px;
    text-align: center;

    @media screen and (max-width: 690px) {
        display: none;
    }

    h3 {
        color: $color1;
        font-family: $font1;
        font-size: 2rem;
        font-weight: 100;
    }

    h2 {
        text-transform: uppercase;
        color: $white;
        font-size: 1.6rem;
        margin-top: -7px;
    }

    img {
        height: 20px;
        margin: 20px 0;
    }

    .main-container-event {
        display: grid;
        grid-template-columns: 58% 42%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a c"
        "b c";
        width: 80%;
        gap: 20px;
        margin: 0 auto;

        .event-left {
            display: grid;
            grid-template-columns: 39% 61%;
            background: $white;
            text-align: left;

            .date {
                background: url(../img/event-01.jpg) center/cover;
                display: flex;
                justify-content: center;
                align-items: center;

                .date-content {
                    background: #222;
                    color: $white;
                    padding: 10px 25px;

                    h6 {
                        font-size: 2rem;
                        font-weight: 100;
                    }

                    span {
                        font-size: 1rem;
                        font-family: $font2;
                        font-weight: 100;
                    }
                }
            }

            .adress {
                text-align: left;
                padding: 20px 10px ;

                h3 {
                    color: $black;
                    letter-spacing: 1px;
                    font-family: $font2;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding-left: 15px;
                }

                p {
                    color: $grey;
                    padding: 20px 0;
                    font-weight: 100;
                    letter-spacing: 1px;
                    font-size: 0.8rem;
                    font-family: $font2;

                    i {
                        padding: 0 10px 0 0;
                        margin-left: 10px;
                    }
                }

                h5 {
                    font-family: $font2;
                    padding-bottom: 20px;
                    margin-left: 14px;
                    font-weight: 100;
                }
            }
        }

        .event-1 {
            grid-area: a;
        }

        .event-2 {
            grid-area: b;
        }

        .event-3 {
            grid-area: c;
            background: url(../img/event-03.jpg) center/cover;
            padding: 20px;


            .date {
                display: flex;
                justify-content: center;
            }

            .date-content {
                background: #222;
                    color: $white;
                    padding: 15px 30px;

                    h6 {
                        font-size: 2rem;
                        font-weight: 100;
                    }

                    span {
                        font-size: 1rem;
                        font-family: $font2;
                        font-weight: 100;
                    }
            }
            .adress {
                background: $white;
                height: 100%;

                h3 {
                    color: $black;
                    font-family: $font2;
                    font-weight: 100;
                    font-size: 1.2rem;
                    padding: 40px 0 10px;
                    width: 70%;
                    margin: 0 auto;
                }

                p {
                    color: $grey;
                    font-weight: 100;
                    letter-spacing: 1px;
                    font-size: 0.8rem;
                    font-family: $font2;

                    i {
                        padding: 0 10px 0 0;
                        margin-left: 10px;
                    }
                }

                h5 {
                    font-family: $font2;
                    margin: 60px 0 40px;
                    font-weight: 100;
                    cursor: pointer;
                }
            }

        }
    }
}