header {
    background: url(/layout/styles/assets/img/bg-slider-06.jpg) center/cover;
    color: $white;
    padding: 0 50px;

    nav {
        height: 12vh;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;

        @media screen and (max-width: 620px) {
            grid-template-columns: 20% 80%;
        }

        h3 {
            font-family: $font1;
            font-size: 2rem;
            cursor: pointer;
            transition: 1.5s;

            &:hover {
                transform: rotate(360deg);
            }
            }

            .ul-1 {
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-transform: uppercase;
                font-size: 0.8rem;
                padding: 0 10px;

                @media screen and (max-width: 620px) {
                    display: none;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    
                    &:hover {
                        border-bottom: 1px solid $white;
                        padding-bottom: 5px;
                    }
                }
            }

            .ul-2 {
                display: flex;
                justify-content: space-around;
                align-items: center;

                @media screen and (max-width: 620px) {
                    justify-content: end;;
                }

                i {
                    color: $white;
                    padding: 0 10px;
                    transition: 0.5s;

                    @media screen and (max-width: 620px) {
                        margin: 0 5px;;
                    }

                    &:hover{
                    transform: scale(1.5);
                    }
                }
            }
        }

        .header-content {
            height: 88vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: $font1;
                color: $color1;
                font-size: 3rem;
                margin-top: -100px;
                font-weight: 100;

                @media screen and (max-width: 620px) {
                    font-size: 2.2rem;;
                }

                @media screen and (max-width: 389px) {
                    font-size: 2.2rem;
                }
            }

            h1 {
                font-family: $font2;
                font-size: 3rem;
                letter-spacing: 10px;
                text-transform: uppercase;
                margin-top: -30px;

                @media screen and (max-width: 620px) {
                    font-size: 2.2rem;
                    margin-top: -10px;
                }

                @media screen and (max-width: 389px) {
                    font-size: 1.2rem;
                    margin-top: 20px;
                }
            }

            img {
                height: 30px;
                margin-top: 30px;
            }

            p {
                padding: 40px 0;
                text-transform: uppercase;
                letter-spacing: 4px;

                @media screen and (max-width: 389px) {
                    font-size: 0.8rem;;
                }
            }
        }
    }
