@font-face {
    font-family: "Allura";
    src: url(../font/Allura-Regular.ttf);
  }
  @font-face {
    font-family: "Poppins";
    src: url(../font/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Light.ttf);
  }
  
  $font1: Allura, cursive;
  $font2: Poppins, serif;
  $font3: Roboto, serif;
  $white: #eee;
  $black: #21201e;
  $grey: rgb(182, 182, 182);
  $color1: rgb(166, 114, 69);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  li {
    list-style: none;
  }
  
  body {
    text-align: center;
    font-family: $font3;
    background: $black;
  }